.movieDetailContainer
  width: 100vw
  display: flex


  .movieDetail
    background-image: linear-gradient(#ff6600, #fff, #fff, #fff, #fff)
    padding: 24px 5vw 44px 5vw

    .movieImg
      display: flex

      img
        width: 43vw
        height: auto
        border-radius: 6px

    .movieInfoContainer
      .movieDetailInfoTopSide
        display: flex
        align-items: center
        margin-top: 25px

        .movieName
          font-size: 20px
          font-weight: bold
          margin-right: 5px
          width: 30%

        .movieDetailRating
          font-size: 20px
          color: #ff6600
          border: 1px solid #ff6600
          border-radius: 5px
          padding: 3px
          justify-content: center
          align-items: center
          display: flex
          margin-right: 5px
          width: 10%

        .movieRatingBar
          margin: 20px 0
          background-color: #ebebeb
          width: 60%
          height: 5px
          border-radius: 5px

          div
            background-color: #ff6600
            height: 5px
            border-radius: 5px

      .movieOtherInfo
        font-size: 14px
        color: #5d5d5d
        margin-top: 8px

      .movieStoryline
        margin-top: 28px
        font-size: 14px
        font-family: 'PT Serif', serif

      .divider
        background-color: #a4a4a4
        height: 1px
        width: 100%
        margin: 30px 0
      .movieCrew
        div
          display: flex
          font-size: 14px
          .crewTitle
            width: 70px
            font-weight: bolder
          .crewName
            color: #ff6600


    .movieDetailButton
      margin-top: 30px
      display: flex
      justify-content: center
      align-items: center
      color: #fff
      font-size: 16px
      font-weight: bolder
      background-color: #ff6600
      width: 78vw
      height: 50px
      border-radius: 8px
      cursor: pointer
      user-select: none
      margin-right: auto
      margin-left: auto
