@import "../../App.sass"
.movieRatingBar
  margin: 20px 0
  background-color: #ebebeb
  width: 60%
  height: 5px
  border-radius: 5px

  div
    background-color: $color-orange
    height: 5px
    border-radius: 5px
